@import '@fontsource-variable/sora';
@import '@fontsource-variable/noto-sans-sc';
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@plugin 'daisyui' {
  themes:
    emerald --default,
    forest --prefersdark;
}

body {
  font-family: 'Sora Variable', 'Noto Sans SC Variable', sans-serif;
}

code {
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    'Noto Sans SC Variable', monospace;
}

.label-text-alt {
  @apply text-xs;
}

.stat {
  --border: 0;
}
