@import 'https://unpkg.com/katex@0.16.22/dist/katex.min.css';
@import '@fontsource-variable/sora';
@import '@fontsource-variable/noto-sans-sc';
@import '@fontsource-variable/jetbrains-mono';
@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@plugin 'daisyui' {
  themes:
    emerald --default,
    forest --prefersdark;
}

@theme {
  --breakpoint-2xs: 15rem;
  --breakpoint-xs: 20rem;
  --breakpoint-ss: 30rem;
}

body {
  font-family: 'Sora Variable', 'Noto Sans SC Variable', sans-serif;
}

code,
.font-mono {
  font-family: ui-monospace, 'JetBrains Mono Variable', 'Noto Sans SC Variable', monospace;
}

.stat {
  --border: 0;
}

.prose pre {
  @apply bg-base-200/50 rounded-xl;
}

.prose pre code {
  @apply text-base-content !bg-transparent !p-0 text-sm;
}

.not-md:prose-xs pre code {
  @apply text-xs;
}

.not-md:prose-sm pre code {
  @apply not-md:text-xs;
}

.prose-sm pre code {
  @apply text-xs;
}

.label-text-alt {
  @apply text-xs text-wrap;
}

.katex-display {
  @apply overflow-x-auto overflow-y-clip;
}

.katex-html .base {
  @apply py-0.25;
}

.text-highlight {
  @apply text-warning hover:text-primary/90 group-hover:text-primary transition-colors;
}
